<%= render :partial => 'dashboard/actions', locals: {project: @project, milestone: @milestone} %>
<br/>

<div class="row">
  <%= render :partial => 'milestones/burndown', :locals => {:milestone => @milestone} if @milestone && @milestone.generate_burn_down? %>
</div>

<div class="row">
  <div class="col-md-9">
    <%= render :partial => 'dashboard/story_column', :locals => {:title => @milestone.try(:title) || 'Backlog',
                                                                 :stories => @stories} %>
  </div>
  <% if @milestone %>
      <div class="col-md-3" id="dashboard_resources">
        <%= render :partial => 'milestones/dashboard', :locals => {milestone: @milestone} %>
      </div>
  <% end %>
</div>

<% cache @milestone do %>
    <%= render :partial => 'milestones/send_email_report_modal', :locals => {project: @project, milestone: @milestone} %>
<% end %>