<% story = project.stories.build(milestone_id: milestone.try(:id))
   task = story.tasks.build %>

<%= render :partial => 'time_entries/time_entry_popup_template', :locals => {project: project} %>
<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    <div class="progress">
      <div class="bar" style="width: 0%"></div>
    </div>
  </div>

</script>

<script id="new-task-template" type="text/x-tmpl">
  <%= form_for(task, url: '/stories/{{storyId}}/tasks', method: :post, :remote => true, role: "form", class: 'task') do |f| %>
      <%= render :partial => 'tasks/partials/fields', locals: {f: f, task: task, story: story} %>
  <% end %>
</script>

<script id="new-comment-template" type="text/x-tmpl">
  <% comment = story.comments.build %>
    <li class="new-comment">
      <%= form_for(comment, url: '/stories/{{storyId}}/comments', :remote => true) do |f| %>
          <%= render :partial => 'comments/fields', locals: {comment: comment, f: f} %>
      <% end %>
    </li>
</script>

<script id="new-story-template" type="text/x-tmpl">
  <%= render :partial => 'stories/partials/form', :locals => {:story => story} %>
</script>