<%= javascript_include_tag "dashboard" %>

<%= content_for :menu_item do %>
    <form class="navbar-form navbar-left">
      <input id="story-search" type="search" class="form-control" placeholder="Search" autocomplete="off">
    </form>
<% end %>

<div id="dashboard-story-container">
  <%= render 'story_container' %>
</div>

<% cache @project do %>
    <%= render :partial => "dashboard/templates", locals: {project: @project} %>
<% end %>

<script type="text/javascript">
    $('input#story-search').typeahead({
        name: 'stories',
        remote: '<%= search_project_stories_path(@project) %>?q=%QUERY',
        template: "<b><span class='badge'>{{id}}</span><span style='padding: 0px 5px 0px 5px;'>{{title}}</span></b><span class='pull-right'><img width='20px' height='20px' src='{{assigned_to.gravatar_url}}' alt=''/><i style='padding-left: 5px;'>{{assigned_to.short_name}}</i></span>",
        engine: Hogan
    });

    $('input#story-search').on('typeahead:selected', function (e, story) {
        var url = '/projects/<%= @project.id %>/dashboard?milestone_id=' + story.milestone_id + "#story-" + story.id;
        window.location.assign(url);
    });

    var urlHash = parseCurrentURL();
    if (urlHash.hash) {
        $("#" + urlHash.hash).find(".panel-collapse").removeClass("collapse").addClass("in");
    }

    $(document).ready(function () {
        GuideFactory.fetch('dashboard').start();
    });
</script>