<%= javascript_include_tag "dashboard" %>
<%= render 'actions' %>
<br/>

<div class="row">
  <%= render :partial => 'milestones/burndown', :locals => {:milestone => @milestone} %>
</div>

<div class="row">
  <div class="col-md-9">
    <%= render :partial => 'dashboard/story_column', :locals => {:title => @milestone.try(:title) || 'Backlog',
                                                                 :stories => @stories} %>
  </div>
  <div class="col-md-3" id="dashboard_resources">
    <% if @milestone %>
        <%= render :partial => 'milestones/dashboard', :locals => {milestone: @milestone} %>
    <% end %>
  </div>
</div>

<% cache [@project, @milestone] do %>
    <%= render :partial => "dashboard/templates", locals: {project: @project, milestone: @milestone} %>
    <%= render :partial => 'milestones/send_email_report_modal', :locals => {project: @project, milestone: @milestone} %>
<% end %>