<div class="roe">
  <div class="col-md-6"><%= user_filter('involved_with') %></div>
  <div class="col-md-6"><%= link_to 'New story', new_project_story_path(@project),
                                    :remote => true, :class => 'btn btn-primary', :'data-disable-with' => "Loading..." %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render :partial => 'dashboard/story_column', :locals => {:title => 'Current',
                                                                 :scope => Scope::CURRENT,
                                                                 :stories => @current_stories} %>
  </div>
  <div class="col-md-6">

    <%= render :partial => 'dashboard/story_column', :locals => {:title => 'Backlog',
                                                                 :scope => Scope::BACKLOG,
                                                                 :stories => @backlog_stories} %>
  </div>
</div>
<%= javascript_include_tag "dashboard" %>