<div class="roe">
  <div class="col-md-4"><%= user_filter('involved_with') %></div>
  <div class="col-md-3">
    <div hide-on-story-move="true">
      <%= milestone_filter(@project, @milestone) %>
    </div>
    <div show-on-story-move="true" hidden>
      <%= move_milestone_list(@project) %>
    </div>
  </div>
  <div class="col-md-1">
    <%= link_to 'New story', new_project_story_path(@project, milestone_id: params[:milestone_id]),
                :remote => true, :class => 'btn btn-primary', :'data-disable-with' => "Loading..." %>
  </div>
  <div class="col-md-3">
    <%= link_to 'Move story', '#', id: 'move-story', class: 'btn btn-primary', :'hide-on-story-move' => "true" %>
    <%= link_to 'Cancel move', '#', id: 'cancel-move-story', class: 'btn btn-default', :'show-on-story-move' => "true" %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-9">
    <%= render :partial => 'dashboard/story_column', :locals => {:title => @milestone.try(:title) || 'Backlog',
                                                                 :stories => @stories} %>
  </div>
  <div class="col-md-3" id="dashboard_resources">
    <% if @milestone %>
        <%= render :partial => 'dashboard/resources', :locals => {milestone: @milestone, resources: @resources} %>
    <% end %>
  </div>
</div>

<script id="time_entry_popup_template" type="html/template">
  <form data-remote="true" accept-charset="UTF-8" action="<%= update_time_entry_path(@project) %>"
        class="form-inline" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input name="date" type="hidden" value="{{date}}">
    <input name="project_id" type="hidden" value="{{project_id}}">
    <input name="task_id" type="hidden" value="{{task_id}}">

    <input name="hours_spent" type="text" value="{{hours_spent}}" class="form-control">
    <br>
    <input name="percent_completed" type="text" value="{{percent_completed}}" class="form-control">
    <br>
    <br>
    <input class="btn btn-primary" name="commit" type="submit" value="Submit"/>
    <a close-pophover href="#" class="btn btn-danger">Cancel</a>
  </form>
</script>

<%= javascript_include_tag "dashboard" %>