<div class="row">
  <div class="col-md-4"><%= user_filter('involved_with') %></div>
  <div class="col-md-3">
    <div hide-on-story-move="true">
      <%= milestone_filter(@project, @milestone) %>
    </div>
    <div show-on-story-move="true" hidden>
      <%= move_milestone_list(@project) %>
    </div>
  </div>
  <div class="col-md-1">
    <%= link_to 'New story', new_project_story_path(@project, milestone_id: @milestone.try(:id)),
                :remote => true, :class => 'btn btn-primary', :'data-disable-with' => "Loading..." %>
  </div>
  <div class="col-md-3">
    <%= link_to 'Move story', 'javascript:void(0)', id: 'move-story', class: 'btn btn-primary', :'hide-on-story-move' => "true" %>
    <%= link_to 'Cancel move', 'javascript:void(0)', id: 'cancel-move-story', class: 'btn btn-default', :'show-on-story-move' => "true" %>
    <% if @milestone %>
        <button class="btn btn-primary" data-toggle="modal" data-target="#milestone_report">
          Send report
        </button>
    <% end %>
  </div>
</div>
<br/>

<div class="row">
  <%= render :partial => 'milestones/burndown', :locals => {:milestone => @milestone} %>
</div>

<div class="row">
  <div class="col-md-9">
    <%= render :partial => 'dashboard/story_column', :locals => {:title => @milestone.try(:title) || 'Backlog',
                                                                 :stories => @stories} %>
  </div>
  <div class="col-md-3" id="dashboard_resources">
    <% if @milestone %>
        <%= render :partial => 'milestones/dashboard', :locals => {milestone: @milestone} %>
    <% end %>
  </div>
</div>

<%= render :partial => "dashboard/templates" %>

<%= render :partial => 'milestones/send_email_report_modal', :locals => {project: @project, milestone: @milestone} %>

<%= javascript_include_tag "dashboard" %>