<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
<%= javascript_include_tag "dashboard" %>
<%= render :partial => 'dashboard/actions', locals: {project: @project, milestone: @milestone} %>
<br/>

<div id="dashboard-story-container">
  <%= render 'story_container' %>
</div>

<% cache @project do %>
    <%= render :partial => "dashboard/templates", locals: {project: @project} %>
<% end %>

<% cache @milestone do %>
    <%= render :partial => 'milestones/send_email_report_modal', :locals => {project: @project, milestone: @milestone} %>
<% end %>