<br>
<br>
<br>
<% if milestone %>
    <% cache [:milestone_details, milestone] do %>
        <div class="panel-group milestone-dashboard">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title"><%= milestone.title %></h2>
            </div>
            <div class="panel-collapse in">
              <dl class="dl-horizontal">
                <dt>Start on</dt>
                <dd><%= milestone.start_on %></dd>
                <dt>End on</dt>
                <dd><%= milestone.end_on %></dd>
                <dt>Deliver on</dt>
                <dd><%= milestone.delivered_on %></dd>
                <dt>Duration</dt>
                <dd><%= milestone.duration %> days</dd>
              </dl>
              <%= progress_bar_for(milestone) %>
              <% if milestone.try(:resources).present? %>
                  <table class="table">
                    <thead>
                    <th></th>
                    <th>Asgn.</th>
                    <th>Avl.</th>
                    </thead>
                    <tbody>
                    <% milestone.resources.each do |resource| %>
                        <tr class="<%= milestone_assignment_status_class(milestone, resource) %>">
                          <td><%= link_to_user_with_avatar resource %></td>
                          <td><%= milestone.hours_assigned_to(resource) %></td>
                          <td><%= milestone.hours_available_for(resource) %></td>
                        </tr>
                    <% end %>
                    </tbody>
                    <tfoot>
                    <th></th>
                    <th></th>
                    <th></th>
                    </tfoot>
                  </table>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>