<h1>Listing milestones</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Start on</th>
    <th>End on</th>
    <th>Delivered at</th>
    <th>Duration</th>
    <th>milestone_type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @milestones.each do |milestone| %>
  <tr>
    <td><%= milestone.title %></td>
    <td><%= milestone.description %></td>
    <td><%= milestone.start_on %></td>
    <td><%= milestone.end_on %></td>
    <td><%= milestone.delivered_on %></td>
    <td><%= milestone.duration %></td>
    <td><%= milestone.milestone_type %></td>
    <td><%= link_to 'Show', project_milestone_path(@project, milestone) %></td>
    <td><%= link_to 'Edit', edit_project_milestone_path(@project, milestone) %></td>
    <td><%= link_to 'Destroy', project_milestone_path(@project, milestone), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Milestone', new_project_milestone_path(@project), class: 'btn btn-primary' %>
