<%= simple_form_for([@story_type, @workflow_status]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :description, :input_html => {:rows => 5} %>
      <%= f.input :initial_status %>
      <%= f.input :default_color, collection: ColorTheme::COLORS %>
      <%= f.input :propagate_color_if_any %>
      <%= f.input :propagate_color_if_all %>
      <%= f.input :allow_to_estimate %>
      <%= f.input :allow_to_enter_time %>
      <%= f.input :allow_to_delete %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to 'Back', [@story_type, :workflow_statuses], class: 'btn btn-default' %>
    </div>
<% end %>