<h2>Sign up</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= render :partial => "layouts/notification/errors", locals: {model: resource} %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= recaptcha_tags if Rails.env.production? %>
    <br/>

    <%= f.button :submit, value: 'Sign up' %>
<% end %>