<%= story_widget(story) do |sw| %>
    <%= sw.header do %>
        <%= check_box_tag 'story-move-chk', story.id, false, :'show-on-story-move' => true %>
        <%= sw.collapse_link do %>
            <%= story.title %>
            <%= story_time_estimations(story) %>
        <% end %>
        <%= sw.actions do %>
            <%= story_edit_link(story) %>
            <%= story_delete_link(story) %>
        <% end %>
    <% end %>
    <%= sw.content do %>
        <span><%= assigned_person_for(story) %></span>

        <div class="actions"><%= action_links_for_story(story) %></div>
        <span class="status"><%= story.status.humanize %></span>

        <div class="ui-helper-clearfix"></div>
        <div class="line"></div>
        <p class="description"><%= raw story.description %></p>

        <div><%= tags_for(story.tag_list) %></div>
        <div id='<%= container_id_of_tasks_for(story) %>'>
          <%= render :partial => 'tasks/partials/tasks',
                     :locals => {:story => story, :tasks => story.tasks} %>
        </div>
        <div>
          <%= render_comments_for(story) %>
        </div>
    <% end %>
<% end %>