<p id="notice"><%= notice %></p>

<p>
  <%= raw @comment.text %>
</p>

<p>
  <b>By:</b>
  <%= @comment.user.name %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
