<% project = membership.project
   user = membership.user
   group_ids = user.groups.for_project(project).collect(&:id) %>

<tr id='<%= container_id_of(membership) %>'>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>
    <%= form_tag([:assign, project, Group], :method => :post, :remote => true) do |f| %>
        <% project.groups.each do |group| %>
            <%= hidden_field_tag(:user_id, user.id) %>
            <%= check_box_tag('group_ids[]', group.id, group_ids.include?(group.id), {:class => 'submittable form-control'}) %>
        <% end %>
    <% end %>
  </td>
  <td>
    <%= deactivate_link(membership,
                        activate_project_project_membership_path(membership.project, membership),
                        deactivate_project_project_membership_path(membership.project, membership)) %>
  </td>
</tr>