<%= simple_form_for([@project, @story_type]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :default_color, collection: ColorTheme::PANELS %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back', project_story_types_path(@project), class: 'btn btn-default' %>
  </div>
<% end %>
