<%= simple_nested_form_for(@project) do |f| %>
    <%= f.input :name %>
    <%= f.input :description, :input_html => { :rows => 5 }, input_html: {class: 'richtext'} %>
    <%= f.input :started_on, as: :string, input_html: {class: 'datepicker'} %>

    <div>
      <%= f.button :submit %>
      <%= link_to 'Back', projects_path, class: 'btn btn-default' %>
    </div>
<% end %>