<% content_for :title do %>
    <h2 style="float: left;">Listing projects</h2>
    <%= link_to 'New Project', new_project_path, :class => 'button large', :style => 'float: right;' %>
    <div class="clear"></div>
<% end %>

<div class="centered">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Started on</th>
      <th></th>
    </tr>

    <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, dashboard_path_for(project, current_user) %></td>
          <td><%= richtext_content project.description %></td>
          <td><%= l(project.started_on, :format => :long) if project.started_on %></td>

          <td>
            <%= link_to('Members', project_project_memberships_path(project),
                        :class => 'btn-sm btn-default') if project.permitted_to_manage_members_by?(current_user) %>
            <%= link_to 'Edit', edit_project_path(project), :class => 'btn-sm btn-default' if project.permitted_to_manage_by?(current_user) %>
            <%= link_to 'Story types', [project, :story_types], :class => 'btn-sm btn-default' %>
            <%= link_to 'Destroy', project, :confirm => 'Are you sure?',
                        :method => :delete, :class => 'btn-sm btn-default btn-danger' if project.permitted_to_manage_by?(current_user) %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<br/>
<%= link_to_new_project %>