<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= raw @project.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @project.started_on %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Stories', project_stories_path(@project) %>