<div class="form-group task_header">
  <div class="row">
    <div class="col-md-8"><%= f.text_field :title, :required => true, class: 'form-control' %></div>
    <div class="col-md-1"><%= hours_estimated_tag(f, task) %></div>
    <div class="col-md-3"><%= select_users(f, story, false) %></div>
  </div>
</div>
<div class="task_container">
  <%= f.submit(:'data-disable-with' => "Saving...", :class => 'btn btn-primary btn-xs') %>
  <%= ajax_cancel_link(task, :form, class: 'btn-xs') %>
</div>