<div class="form-group task-header">
  <div class="row">
    <div class="col-md-8"><%= f.text_field :title, :required => true, class: 'form-control' %></div>
    <% if task.new_record? or task.workflow_status.allow_to_estimate? %>
        <div class="col-md-1 task-est-field task-estimation"><%= hours_estimated_tag(f, task) %></div>
    <% end %>
    <div class="col-md-3"><%= select_users(f, story, false) %></div>
  </div>
</div>
<div class="task-container">
  <%= f.submit(:'data-disable-with' => "Saving...", :class => 'btn btn-primary btn-xs') %>
  <%= ajax_cancel_link(task, :form, class: 'btn-xs') %>
</div>