<% changes = task.version_changes(field: [:assigned_to_id], events: [:update]) %>
<%# changes = task.version_changes(field: [:assigned_to_id, :hours_estimated, :workflow_status_id], events: [:update]) %>
<% if changes.count > 0 %>
    <ul>
      <% changes.each do |change| %>
          <% cache [:view, change] do %>
              <li>
                <%= render :partial => "histories/done_by_badge", locals: {change: change} %>
                <% if change.field == 'assigned_to_id' %>
                    Assigned
                    <% if change.was %>
                        from <%= link_to_user_with_avatar(change.was, size: 15) %>
                    <% end %>
                    to <%= link_to_user_with_avatar(change.now, size: 15) %>
                <% elsif change.field == 'hours_estimated' %>
                    <% if change.was.blank? %>
                        Estimated <%= change.was %>
                    <% elsif change.was.present? and change.now.present? %>
                        Changed estimation from <%= change.was %> to  <%= change.now %>
                    <% end %>
                <% elsif change.field == 'workflow_status_id' %>
                    <%= WorkflowStatus.find(change.was).title rescue '' %> from <%= WorkflowStatus.find(change.now).title rescue '' %>
                <% end %>
              </li>
          <% end %>
      <% end %>
    </ul>
<% else %>
    <ul>
      <li>Nothing in the past</li>
    </ul>
<% end %>