<% cache [:view, task] do %>
    <div id='<%= container_id_of(task) %>' class="task task-panel-<%= task.workflow_status.color %>" task-owner-id="<%= task.assigned_to_id %>">
      <div class="task-header row">
        <span class="col-md-7"><%= task.title %> <span class="badge"><%= task.workflow_status.title %></span> </span>

        <div class="col-md-5 text-right task-actions">
          <div class="pull-right">
            <%= link_to_user_with_avatar(task.assigned_to) %>
            <%= progress_bar_for(task) %>
            <%= action_links_for_task(task) %>
            <%= link_to_time_entry_popup(task) if task.workflow_status.allow_to_enter_time? %>
            <%= task_edit_link(task) %>
            <%= task_delete_link(task) if task.workflow_status.allow_to_delete? %>
            <a class="accordion-toggle" data-toggle="collapse" href="#task-<%= task.id %>-history">
              <span class="glyphicon glyphicon-header"></span>
            </a>
          </div>
        </div>
      </div>
      <div id="task-<%= task.id %>-history" class="row collapse task-history">
        <%= render :partial => 'tasks/partials/history', :locals => {:task => task} %>
      </div>
    </div>
<% end %>