<% cache [:view, task] do %>
    <div id='<%= container_id_of(task) %>' class="task task-<%= task.status %>" task-owner-id="<%= task.assigned_to_id %>">
      <div class="task_header row">
        <span class="col-md-8"><%= task.title %></span>

        <div class="col-md-4 text-right task-actions">
          <%= action_links_for_task(task) %>
          <%= link_to_time_entry_popup(task) if task.in_progress? %>
          <%= task_edit_link(task) %>
          <%= task_delete_link(task) %>
          <a class="accordion-toggle" data-toggle="collapse" href="#task-<%= task.id %>-history">
            <span class="glyphicon glyphicon-header"></span>
          </a>
        </div>
      </div>
      <div class="task_container row">
        <span class="col-md-8"><%= link_to_user_with_avatar(task.assigned_to) %></span>

        <div class="col-md-4 text-right">
          <%= progress_bar_for(task) %>
          <%= render :partial => 'shared/estimated_and_spent_hours',
                     :locals => {:estimated => task.hours_estimated,
                                 :spent => task.hours_spent} %>
        </div>
      </div>
      <div id="task-<%= task.id %>-history" class="row collapse task-history">
        <%= render :partial => 'tasks/partials/history', :locals => {:task => task} %>
      </div>
    </div>
<% end %>