<%= simple_form_for([@project, @group]) do |f| %>
    <%= f.input :title %>
    <%= f.input :description, :input_html => { :rows => 5 } %>
    <div>
      <%= f.button :submit %>
      <%= link_to 'Back', project_groups_path(@project), class: 'btn btn-default' %>
    </div>
<% end %>