<h1>Listing groups</h1>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Total members</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @groups.each do |group| %>
      <tr>
        <td><%= group.title %></td>
        <td><%= group.description %></td>
        <td><%= group.total_members %></td>
        <td>
          <%= link_to 'Edit', [:edit, @project, group] %>
          <%= link_to 'Destroy', [@project, group], method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', [:new, @project, :group], class: 'btn btn-primary' %>
