<p id="notice"><%%= notice %></p>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
<dl class="dl-horizontal">
  <dt><%= attribute.human_name %>:</dt>
  <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
</dl>

<% end -%>
<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-default btn-primary' %>
<%%= link_to 'Back', <%= index_helper %>_path, class: 'btn btn-default' %>