<h2>Time entry for <%= @project.name %></h2>
<div>
  <%= time_entry_filter(@project) %>
</div>

<div>
  <div style="margin-bottom: 10px;">
    <%= prev_week_link %>
    <%= next_week_link %>
  </div>
  <table id="time_entry_table" class="table table-bordered">
    <thead>
    <tr>
      <th></th>
      <% @week.beginning_of_week.upto(@week.end_of_week) do |day| %>
          <th>
            <%= day.strftime("%A") %>
            <br/>
            <span><%= l day, :format => :short %></span>
          </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @stories.each do |story| %>
        <tr>
          <th><%= story.title %></th>
          <% 7.times do %>
              <th></th>
          <% end %>
        </tr>
        <% story.tasks.assigned_to(@user).each do |task| %>
            <tr>
              <td class="task-title"><%= task.title %></td>
              <% @week.beginning_of_week.upto(@week.end_of_week) do |day| %>
                  <td>
                    <%= link_to_time_entry_popup(task, day) %>
                  </td>
              <% end %>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<%= render :partial => 'time_entries/time_entry_popup_template', :locals => {project: @project} %>