<%= simple_form_for([@project, @workflow_status]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description, :input_html => { :rows => 5 } %>
    <%= f.input :workflow_for, collection: StoryType.all_selectable %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back', project_workflow_statuses_path(@project), class: 'btn btn-default' %>
  </div>
<% end %>