<h1>Listing workflow statuses</h1>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Workflow for</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @workflow_statuses.each do |workflow_status| %>
      <tr>
        <td><%= workflow_status.title %></td>
        <td>
          <%= link_to 'Show', project_workflow_status_path(@project, workflow_status), class: 'btn-sm btn-default btn-primary' %>
          <%= link_to 'Edit', edit_project_workflow_status_path(@project, workflow_status), class: 'btn-sm btn-default btn-primary' %>
          <%= link_to 'Destroy', project_workflow_status_path(@project, workflow_status), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn-sm btn-default btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Workflow status', new_project_workflow_status_path(@project), class: 'btn btn-default' %>