<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @workflow_status.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workflow_status.description %>
</p>

<p>
  <strong>Workflow for:</strong>
  <%= @workflow_status.workflow_for %>
</p>

<%= link_to 'Edit', edit_project_workflow_status_path(@project, @workflow_status), class: 'btn btn-default btn-primary' %>
<%= link_to 'Back', project_workflow_statuses_path(@project), class: 'btn btn-default' %>
