<h1>Listing workflow transitions</h1>

<table class="table">
  <thead>
  <tr>
    <th>Event</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @workflow_transitions.each do |workflow_transition| %>
      <tr>
        <td><%= workflow_transition.event %></td>
        <td>
          <span class="badge"><%= workflow_transition.from_status.try(:title) %></span>
          <span class="glyphicon glyphicon-arrow-right"></span>
          <span class="badge"><%= workflow_transition.to_status.try(:title) %></span>
        </td>
        <td>
          <%= link_to 'Edit', [:edit, @story_type, workflow_transition], class: 'btn-sm btn-default btn-primary' %>
          <%= link_to 'Destroy', [@story_type, workflow_transition], method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn-sm btn-default btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Workflow transition', new_story_type_workflow_transition_path, class: 'btn btn-default btn-primary' %>
<%= link_to 'Workflow Statues', [@story_type, :workflow_statuses], class: 'btn btn-default' %>