<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt>Event:</dt>
  <dd><%= @workflow_transition.event %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>From status:</dt>
  <dd><%= @workflow_transition.from_status.title %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>To status:</dt>
  <dd><%= @workflow_transition.to_status.title %></dd>
</dl>

<%= link_to 'Edit', [:edit, @story_type, @workflow_transition], class: 'btn btn-default btn-primary' %>
<%= link_to 'Back', [@story_type, :workflow_transitions], class: 'btn btn-default' %>