<% if user_signed_in? %>
    <ul class="nav navbar-nav">
      <%= link_to_nav 'Projects', projects_path %>
      <% if @project && !@project.new_record? %>
          <%= link_to_nav 'Dashboard', project_dashboard_path(@project.id) %>
          <%= link_to_nav 'Milestones', project_milestones_path(@project.id) %>
          <%= link_to_nav 'Time entry', weekly_time_entry_path(@project.id) %>
          <%#= link_to_nav 'Planner', story_calendar_path(@project.id) %>
      <% end %>
    </ul>

    <ul class="nav navbar-nav pull-right">
      <% if user_signed_in? %>
          <li>
            <%= link_to_user current_user %>
          </li>
          <li>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          </li>
      <% else %>
          <li>
            <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
          </li>
      <% end %>
    </ul>
<% end %>