<!DOCTYPE html>
<html>
<head>
  <title>Stubbles</title>
  <% if Rails.env.production? %>
	  <%= javascript_include_tag "https://www.google.com/jsapi" %>
	  <script type="text/javascript">
	    google.load("jquery", "1.7.1");
	    google.load("jqueryui", "1.8.16");
	  </script>
  <% else %>
  	<%= javascript_include_tag 'jquery', 'jquery-ui' %>
  <% end %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Internet Explorer HTML5 enabling code: -->
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <style type="text/css">
    .clear {
      zoom: 1;
      display: block;
    }
  </style>
  <![endif]-->
</head>
<body>
  <section id="page"> <!-- Defining the #page section with the section tag -->
    <header> <!-- Defining the header section of the page-->
        <hgroup>
            <h1><%= @project ? @project.name : 'Stubbles' %></h1>
            <h3>Plan your project</h3>
        </hgroup>
        <%= render :partial => 'layouts/menu' %>
    </header>
    
    <section>
        <div class="line"></div>
        <block>
            <div><%= yield :title %></div>
            <div class="line"></div>
            <div class="articleBody clear">
              <%= yield %>
            </div>
        </block>
    </section>

    <div id="dialog" title="Dialog" style="display: none;"></div>
    <div id="loading" title="Please wait" style="display: none;">
      <%= image_tag('/images/ajax-loader.gif') %>
    </div>
    <%= render :partial => 'layouts/footer' %>
  </section> <!-- Closing the #page section -->
</body>
</html>