<!DOCTYPE html>
<html>
<head>
  <title>Stubbles</title>
  <% if Rails.env.production? %>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <% else %>
      <%= javascript_include_tag "jquery" %>
      <%= javascript_include_tag "jquery-ui" %>
      <%= javascript_include_tag "bootstrap" %>
  <% end %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Internet Explorer HTML5 enabling code: -->
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= yield :header %>
</head>
<body>

<% if current_user %>
    <% cache [:project_nav, @project] do %>
        <div class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="javascript:void(0)"><%= @project ? @project.name : 'Stubbles' %></a>
            </div>
            <div class="navbar-collapse collapse">
              <%= render :partial => 'layouts/menu' %>
            </div>
            <!--/.nav-collapse -->
          </div>
        </div>
    <% end %>
<% else %>
    <% cache :un_logged_in_user_nav do %>
        <div class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="javascript:void(0)">Stubbles</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "sign in", new_user_session_path %></li>
              </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
        </div>
    <% end %>
<% end %>

<div class="container main-container">
  <%= yield %>
</div>

<script type="text/javascript">
    <% if current_user %>
    TaskPermission.apply(<%= current_user.try(:id) %>);
    $(document).ajaxComplete(function (event, xhr, settings) {
        TaskPermission.apply(<%= current_user.try(:id) %>);
    });
    <% end %>

    <%= render :partial => "shared/notification", formats: [:js] %>
</script>
</body>
</html>