<!DOCTYPE html>
<html>
<head>
  <title>Stubbles</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Internet Explorer HTML5 enabling code: -->
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= @project ? @project.name : 'Stubbles' %></a>
    </div>
    <div class="navbar-collapse collapse">
      <%= render :partial => 'layouts/menu' %>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <!--<div><%#= yield :title %></div>-->


  <%= yield %>


</div>
<!-- /container -->

</body>
</html>